.swipes-page{
  margin: 0px 15px;
  display: flex;

  .switch-container{
    margin-top: -50px;
  }

  .profiles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
  }

}
