.profile{
  width: 250px;
  height: 350px;
  margin: 0px 10px 10px 10px;
  height: 1%;
  border: 3px solid white;
  position: relative;

  .name{
    position: absolute;
    font-size: 20px;
    top: 6px;
    left : 10px;
    color: white;
    font-weight: 100;
    text-shadow: 1px 1px black;
  }

  .mutual-friends-count{
    position: absolute;
    font-size: 20px;
    top: 6px;
    right : 10px;
    color: white;
    font-weight: 100;
    text-shadow: 1px 1px black;
  }

  .carousel-inner{
    img{
      border-bottom : 3px solid white;
      width: 250px;
      height: 250px;
    }
  }
  .carousel-control{
    background-image: none;
  }
}
